.site-meta {
  padding: 20px 0;
  color: #fff;
  background: #222;
}

.site-title {
  text-align: center;
  font-size: 20px;
}

.list li{
  cursor: pointer;
}

.clearfix:after { content: ""; display: block; height: 0; clear: both;}
.clearfix { zoom: 1;}

.center{
  text-align: center;
  margin: 0 auto ;
}
