html{

}

body {
  max-width: 980px;
  border: 1px solid #ddd;
  outline: 1300px solid #fff;
  margin: 0 auto;
}

footer,
header{
  display: block;
  text-align: center;
}

ol{
    font-size: 18px;
    line-height: 40px
}

article{
  padding: 10px 30px;
}
